<div class="row">
  <div class="col-xs-12">
    <%= form_for [@website, @note] do |f| %>
      <%= show_active_record_errors @note %>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= f.label :time, 'Time' %><br><%= f.datetime_select :time %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <%= f.label :text, 'Text' %><%= f.text_area :text, :rows => 3, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <%= f.submit @note.new_record? ? 'Create' : 'Update', class: 'btn btn-primary' %>
      <%= back_button %>
    <% end %>
  </div>
</div>
